.bg-gradient {
    background: linear-gradient(180deg, #000000 43.46%, rgba(0, 0, 0, 0) 64.84%);
}

/* Gradient border and gradient background */
.main-content {
    border:1px solid #0000;
    border-radius:12px;
    opacity: 0.5;
    background:
        linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 36, 70, 0.976) 100%) padding-box,
        linear-gradient(#2f36ff, #67e1f1) border-box;
}

.box-shadow-main {
    box-shadow: 0px 100px 110px -40px rgb(31, 203, 255);
    /* box-shadow: 0px 120px 170px -70px rgba(31, 184, 255, 1); */
}

/* Add token input gradient */
.add-token {
    border:1px solid #0000;
    border-radius:12px;
    background:
        linear-gradient(180deg, rgb(0, 0, 0) 100%, rgba(0, 36, 70, 0.976) 100%) padding-box,
        linear-gradient(#2f36ff, #67e1f1) border-box;
}

/* Add token input box shadow */
.box-shadow-add-token {
    box-shadow: 0px 4px 36px -10px rgb(0, 155, 255);
    /* box-shadow: 0px 120px 170px -70px rgba(31, 184, 255, 1); */
}

/* Circle icon shadow */

.red-shadow {
    box-shadow: 0px 0px 15px 12px rgb(255, 82, 44, 0.40);
}

.blue-shadow {
    box-shadow: 0px 0px 15px 10px rgb(31, 203, 255, 0.30);
}

.green-shadow {
    box-shadow: 0px 0px 15px 12px rgb(44, 138, 116, 0.40);
}

/* Fonts */

.font-mavenpro {
    font-family: "Maven Pro", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

#logo {
    width: 60px;
    height: 60px;
}

#logo:hover {
    transform: rotate(0);
}
