.bg-gradient {
    background: linear-gradient(180deg, #000000 43.46%, rgba(0, 0, 0, 0) 64.84%);
}

.main-content-border {
    /* background: linear-gradient(45deg,red,blue) border-box;
     mask:
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
    mask-composite: exclude; 
    border-radius: 12px;
    border: 4px solid transparent; */
}

.main-content-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.423) 0%, rgba(0, 36, 70, 0.376) 100%);
}

.box-shadow-main {
    box-shadow: 0px 80px 100px -30px rgba(41, 144, 176, 0.8);
}

#logo {
    width: 60px;
    height: 60px;
}

#logo:hover {
    transform: rotate(0);
}