{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker + Django!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="content" class="flex flex-col h-screen items-center bg-stone-800">
        <h1 class="text-4xl text-white font-bold mt-20 mb-14">Docker🐳 + Django🐍!</h1>
        <img class="rounded-xl" src="{% static 'images/logo.jpg' %}" alt="Logo"
            width="640" height="360">
    </div>
</body>
</html>