{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="input" class="flex flex-col w-full mt-10 sm:flex justify-center sm:flex-row sm:mt-16">
    <!-- token A -->
    {% include "components/add-token.html" with form=form_A %}
    <div class="flex flex-col self-center gap-2 py-4 px-4 sm:flex justify-center sm:flex-row">
        <div class="self-center red-shadow bg-[#FF4B32] w-[6px] h-[6px] rounded-full"></div>
        <div class="self-center blue-shadow bg-[#1BBEF1] w-[8px] h-[8px] rounded-full"></div>
        <div class="self-center green-shadow bg-[#00FFC2] w-[6px] h-[6px] rounded-full"></div>
    </div>
    <!-- token B -->
    {% include "components/add-token.html" with form=form_B %}
</div>

<!-- Initial content -->
<div id="output" class="flex flex-col self-center">
    <!-- Transform market cap text -->
    <div id="market-cap-text" class="flex flex-row sm:my-8">
        <p class="text-white text-sm my-12 sm:text-lg">Transform market cap A</p>
        <div class="self-center bg-[#FF4B32] w-[6px] h-[6px] rounded-full mx-2"></div>
        <p class="text-white text-sm my-12 sm:text-lg">→ market cap B</p>
        <div class="self-center bg-[#00FFC2] w-[6px] h-[6px] rounded-full mx-2"></div>
    </div>
    <!-- Token A to token B icons -->
    <div class="flex self-center gap-2">
        <div id="token-A-image" class="bg-[#FF4B32] w-10 h-10 rounded-full"></div> <!--placeholder for token A icon-->
        <div id="flow-arrow-icon" class="self-center mx-3">
            <img src="{% static "svg/flow-arrow.svg" %}" alt="Flow Arrows Icon">
        </div>
        <div id="token-B-image" class="bg-white w-10 h-10 rounded-full"></div> <!--placeholder for token B icon-->
    </div>
</div>

<script>
    // Helper function for getting element from the DOM
    const getEl = selector => document.querySelector(selector);

    const token_A = getEl("#id_token_input_A")
    const token_B = getEl("#id_token_input_B")

    token_A.addEventListener("keyup" , get_token_list)
    token_B.addEventListener("keyup" , get_token_list)
    function get_token_list(ev){
        let input_value = ev.target.value
        console.log(input_value)
    }

    /*----------------------------
    Backend request for token data
    ------------------------------*/

    // This will be used to provide the csrf token to Django and allow the post
    // request to go through
    const csrfToken = '{{ csrf_token }}'

    getTokensOnInput();

    // Waits for user to enter at least 2 characters into the input box, then runs
    // the backend request
    function getTokensOnInput() {
        token_A.addEventListener('keyup', ev => {
            if (token_A.value.length >= 2) {       
              sendRequestForTokens(token_A.value).then(data => console.log(data));
            }
        });
    }

    // When user enters text, call api from backend
    // TODO - Need to figure out how to get POST request working...
    // TODO - May need to enable CORS in Django when this is deployed
    async function sendRequestForTokens(token_query) {
        /*return (
          await fetch('', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {'Accept': 'application/json', 'X-CSRFToken': csrfToken},
            body: JSON.stringify({'token_query' : token_query})
          })).json();*/
        let response = await fetch('', {
          //method: 'POST',
          credentials: 'same-origin',
          headers: {
            'Accept': 'application/json', 
            'Content-Type': 'application/json', 
            //'X-CSRFToken': csrfToken
          },
          //body: JSON.stringify({'token_query': token_query})
        });
        let json = await response.json();
        return json;
      }

</script>

{% endblock content %}