{% extends "base.html" %}

{% block content %}

<div id="input" class="flex flex-col w-full mt-10">
    <!-- token A -->
    {% include "components/add-token.html" with default_text="A..." id="token-A" %}
    <div class="flex flex-col self-center gap-1 py-2">
        <div class="shadow bg-[#FF4B32] w-2 h-2 rounded-full"></div>
        <div class="shadow bg-[#1BBEF1] w-2 h-2 rounded-full"></div>
        <div class="shadow bg-[#00FFC2] w-2 h-2 rounded-full"></div>
    </div>
    <!-- token B -->
    {% include "components/add-token.html" with default_text="B..." id="token-B" %}
</div>

<div id="output" class="flex flex-col self-center">
    <p id="market-cap-text" class="text-white my-10">Evmos with the market cap of Eth</p>
    <div id="final-market-cap" class="flex self-center gap-2">
        <div id="token-A-image" class="bg-[#FF4B32] w-10 h-10 rounded-full"></div>
        <div id="token-A-price" class="text-white text-4xl self-end">$451</div>
        <div id="token-A-percentage" class="text-green-300 self-end">297 %</div>
    </div>
</div>

{% endblock content %}