{% extends "base.html" %}

{% block content %}
{% load static %}

<div id="input" class="flex flex-col w-full mt-10 sm:flex justify-center sm:flex-row sm:mt-16">
    <!-- token A -->
    <div class="add-token box-shadow-add-token flex flex-col justify-center self-center relative h-[110px] w-[175px] md:w-[240px]">
      <div class="add-token flex self-center absolute h-[45px] w-[145px] md:w-5/6">
        {% include "components/add-token.html" with form=form_A %}
      </div>
    </div>
    <!-- connecting circles -->
    <div class="flex flex-col self-center gap-2 py-4 px-4 sm:flex justify-center sm:flex-row">
        <div class="self-center red-shadow bg-[#FF4B32] w-[6px] h-[6px] rounded-full md:w-[8px] md:h-[8px]"></div>
        <div class="self-center blue-shadow bg-[#1BBEF1] w-[8px] h-[8px] rounded-full md:w-[10px] md:h-[10px]"></div>
        <div class="self-center green-shadow bg-[#00FFC2] w-[6px] h-[6px] rounded-full md:w-[8px] md:h-[8px]"></div>
    </div>
    <!-- token B -->
    <div class="add-token box-shadow-add-token flex flex-col justify-center self-center relative h-[110px] w-[175px] md:w-[240px]">
      <div class="add-token flex self-center absolute h-[45px] w-[145px] md:w-5/6">
        {% include "components/add-token.html" with form=form_B %}
      </div>
    </div>
</div>

<!-- Initial content -->
<div id="output" class="flex flex-col self-center">
    <!-- Transform market cap text -->
    <div id="market-cap-text" class="flex flex-row sm:my-8">
        <p class="text-white text-sm my-12 sm:text-lg">Transform market cap A</p>
        <div class="self-center bg-[#FF4B32] w-[6px] h-[6px] rounded-full mx-2"></div>
        <p class="text-white text-sm my-12 sm:text-lg">→ market cap B</p>
        <div class="self-center bg-[#00FFC2] w-[6px] h-[6px] rounded-full mx-2"></div>
    </div>
    <!-- Token A to token B icons -->
    <div class="flex self-center gap-2">
        <div id="token-A-image" class="bg-[#FF4B32] w-10 h-10 rounded-full"></div> <!--placeholder for token A icon-->
        <div id="flow-arrow-icon" class="self-center mx-3">
            <img src="{% static "svg/flow-arrow.svg" %}" alt="Flow Arrows Icon">
        </div>
        <div id="token-B-image" class="bg-white w-10 h-10 rounded-full"></div> <!--placeholder for token B icon-->
    </div>
</div>

<script>
  // Helper function for getting element from the DOM
  const getEl = selector => document.querySelector(selector);
  const token_A = getEl("#id_token_input_A");
  const token_B = getEl("#id_token_input_B");
  // Get csrftoken to give to Django and let the post request go through
  let csrfToken = '{{ csrf_token }}';

  token_A.addEventListener("input" , validate);
  token_B.addEventListener("input" , validate);


  // Add a delay before a function will run (does not backlog function calls)
  const debounce = (func, delay) => {
    let timer; // keep track of current timer
  
    return (...args) => {
      clearTimeout(timer);
      timer = setTimeout(() => {
        func(...args);
      }, delay); // start the timer
    };
  };

  // Prevent space from being first input
  function validate(ev) {
    // ^  - start of sentence 
    // \s - space character
    if(/^\s/.test(ev.target.value))
      ev.target.value = '';
  }

  // As user inputs text, query the backend and receive data from api call
  // NOTE - May need to enable CORS in Django when this is deployed on Railway
  async function sendRequestForTokens(token_id, token_query) {
    let response = await fetch('', {
      method: 'POST',
      credentials: 'same-origin',
      headers: {
      'Accept': 'application/json', 
      'Content-Type': 'application/json', 
      'X-CSRFToken': csrfToken
      },
      body: JSON.stringify({'token_id': token_id, 'token_query': token_query})
    });
    let json = await response.json();
    return json;
  }

  // Wait for user to input >=2 characters, then run the
  // backend request
  // TODO - Do something with this data (add to dropdown list
  // 		- Should this be document body or even more specific?
  // TODO - Is 250 ms a good delay for the input?

  // const dropdown_A = document.getElementById("show-dropdown-A");
  const dropdown_B = document.getElementById("inputB_dropdown");

  document.body.addEventListener("keyup", debounce(ev => {
    if (ev.target.matches('#id_token_input_A, #id_token_input_B') && ev.target.value.length >= 2) {
      sendRequestForTokens(ev.target.id, ev.target.value)
        .then(data => console.log(data));
        dropdown_B.style.display = "flex";
    } else {
      dropdown_B.style.display = "none";
    }
  }, 250));

//   document.querySelector('.add-token').addEventListener('click', function () {
//   this.classList.toggle('dropdown')
// })
</script>

{% endblock content %}